In [13]:
import tensorflow.keras
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.layers import *

In [8]:
data1 = pd.read_csv("train.csv")
y_train = data1.Survived
del data1["Survived"]
x_train = data1.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
x_train

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [9]:
data2 = pd.read_csv("test.csv")
y_test = pd.read_csv("gender_submission.csv").Survived
x_test = data2.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
x_test

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [10]:
x_train.Age /= 100
x_test.Age /= 100
x_train[x_train.Age.isnull()] = 0
x_test[x_test.Age.isnull()] = 0

m = 6
x_train.Parch /= m
x_test.Parch /= m

m = max(x_train.Fare)
x_train.Fare /= m
x_test.Fare /= m

x_train.Sex[x_train.Sex == "male"] = 1
x_train.Sex[x_train.Sex == "female"] = 0

x_test.Sex[x_test.Sex == "male"] = 1
x_test.Sex[x_test.Sex == "female"] = 0

x_train[["PC1","PC2","PC3"]] = 0
x_train["PC1"][x_train.Pclass == 1 ] =  1
x_train["PC2"][x_train.Pclass == 2 ] =  1
x_train["PC3"][x_train.Pclass == 3 ] =  1
del x_train["Pclass"]

x_test[["PC1","PC2","PC3"]] = 0
x_test["PC1"][x_test.Pclass == 1 ] =  1
x_test["PC2"][x_test.Pclass == 2 ] =  1
x_test["PC3"][x_test.Pclass == 3 ] =  1
del x_test["Pclass"]

x_train[["QC1","QC2","QC3"]] = 0
x_train["QC1"][x_train.Embarked == "C" ] =  1
x_train["QC2"][x_train.Embarked == "Q" ] =  1
x_train["QC3"][x_train.Embarked == "S" ] =  1
del x_train["Embarked"]

x_test[["QC1","QC2","QC3"]] = 0
x_test["QC1"][x_test.Embarked == "C" ] =  1
x_test["QC2"][x_test.Embarked == "Q" ] =  1
x_test["QC3"][x_test.Embarked == "S" ] =  1
del x_test["Embarked"]

x_test

/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train.Sex[x_train.Sex == "male"] = 1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train.Sex[x_train.Sex == "female"] = 0
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test.Sex[x_test.Sex == "male"] = 1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test.Sex[x_test.Sex == "female"] = 0
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC1"][x_train.Pclass == 1 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC2"][x_train.Pclass == 2 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC3"][x_train.Pclass == 3 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC1"][x_test.Pclass == 1 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC2"][x_test.Pclass == 2 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC3"][x_test.Pclass == 3 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC1"][x_train.Embarked == "C" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC2"][x_train.Embarked == "Q" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC3"][x_train.Embarked == "S" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC1"][x_test.Embarked == "C" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC2"][x_test.Embarked == "Q" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3889/2300741674.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC3"][x_test.Embarked == "S" ] =  1

    Sex    Age  SibSp     Parch      Fare  PC1  PC2  PC3  QC1  QC2  QC3
0     1  0.345      0  0.000000  0.015282    0    0    1    0    1    0
1     0  0.470      1  0.000000  0.013663    0    0    1    0    0    1
2     1  0.620      0  0.000000  0.018909    0    1    0    0    1    0
3     1  0.270      0  0.000000  0.016908    0    0    1    0    0    1
4     0  0.220      1  0.166667  0.023984    0    0    1    0    0    1
..   ..    ...    ...       ...       ...  ...  ...  ...  ...  ...  ...
413   0  0.000      0  0.000000  0.000000    0    0    0    0    0    0
414   0  0.390      0  0.000000  0.212559    1    0    0    1    0    0
415   1  0.385      0  0.000000  0.014151    0    0    1    0    0    1
416   0  0.000      0  0.000000  0.000000    0    0    0    0    0    0
417   0  0.000      0  0.000000  0.000000    0    0    0    0    0    0

[418 rows x 11 columns]

In [11]:
x_train = np.array(x_train,dtype=np.float32)
y_train = np.array(y_train,dtype=np.float32)

x_test = np.array(x_test,dtype=np.float32)
y_test = np.array(y_test,dtype=np.float32)
x_train.shape, y_train.shape ,x_test.shape, y_test.shape

((891, 11), (891,), (418, 11), (418,))

In [72]:
model = tf.keras.Sequential([
    Input((11,)),
    Dense(64,"relu"),
    Dropout(0.1),
    Dense(32,"relu"),
    Dense(8,"relu"),
    Dense(1,"sigmoid"),
])
model.compile("adam","binary_crossentropy",['accuracy'],)
his = model.fit(x_train,y_train,32,15,validation_split=0.2).history

Epoch 1/15
23/23 [==============================] - 1s 3ms/step - loss: 0.6881 - accuracy: 0.6306 - val_loss: 0.6710 - val_accuracy: 0.8380
Epoch 2/15
23/23 [==============================] - 0s 1ms/step - loss: 0.6622 - accuracy: 0.7430 - val_loss: 0.6177 - val_accuracy: 0.8212
Epoch 3/15
23/23 [==============================] - 0s 1ms/step - loss: 0.5995 - accuracy: 0.7500 - val_loss: 0.5337 - val_accuracy: 0.8324
Epoch 4/15
23/23 [==============================] - 0s 1ms/step - loss: 0.5511 - accuracy: 0.7584 - val_loss: 0.4829 - val_accuracy: 0.8324
Epoch 5/15
23/23 [==============================] - 0s 1ms/step - loss: 0.5206 - accuracy: 0.7683 - val_loss: 0.4601 - val_accuracy: 0.8436
Epoch 6/15
23/23 [==============================] - 0s 1ms/step - loss: 0.5090 - accuracy: 0.7584 - val_loss: 0.4465 - val_accuracy: 0.8492
Epoch 7/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4982 - accuracy: 0.7612 - val_loss: 0.4392 - val_accuracy: 0.8324
Epoch 8/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4927 - accuracy: 0.7683 - val_loss: 0.4354 - val_accuracy: 0.8380
Epoch 9/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7739 - val_loss: 0.4302 - val_accuracy: 0.8324
Epoch 10/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4882 - accuracy: 0.7711 - val_loss: 0.4279 - val_accuracy: 0.8380
Epoch 11/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4861 - accuracy: 0.7767 - val_loss: 0.4269 - val_accuracy: 0.8380
Epoch 12/15
23/23 [==============================] - 0s 990us/step - loss: 0.4749 - accuracy: 0.7865 - val_loss: 0.4269 - val_accuracy: 0.8268
Epoch 13/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4735 - accuracy: 0.7865 - val_loss: 0.4232 - val_accuracy: 0.8380
Epoch 14/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4798 - accuracy: 0.7865 - val_loss: 0.4238 - val_accuracy: 0.8212
Epoch 15/15
23/23 [==============================] - 0s 1ms/step - loss: 0.4820 - accuracy: 0.7851 - val_loss: 0.4243 - val_accuracy: 0.8268

In [73]:
model.evaluate(x_test,y_test)

14/14 [==============================] - 0s 731us/step - loss: nan - accuracy: 0.8493

[nan, 0.8492823243141174]