In [56]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [57]:
data1 = pd.read_csv("train.csv")
y_train = data1.Survived
del data1["Survived"]
x_train = data1.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
x_train

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [58]:
data2 = pd.read_csv("test.csv")
y_test = pd.read_csv("gender_submission.csv")
x_test = data2.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
x_test

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [59]:
x_train.Age /= 100
x_test.Age /= 100

m = max(x_train.Fare)
x_train.Fare /= m
x_test.Fare /= m

x_train.Sex[x_train.Sex == "male"] = 1
x_train.Sex[x_train.Sex == "female"] = 0

x_test.Sex[x_test.Sex == "male"] = 1
x_test.Sex[x_test.Sex == "female"] = 0

x_train[["PC1","PC2","PC3"]] = 0
x_train["PC1"][x_train.Pclass == 1 ] =  1
x_train["PC2"][x_train.Pclass == 2 ] =  1
x_train["PC3"][x_train.Pclass == 3 ] =  1
del x_train["Pclass"]

x_test[["PC1","PC2","PC3"]] = 0
x_test["PC1"][x_test.Pclass == 1 ] =  1
x_test["PC2"][x_test.Pclass == 2 ] =  1
x_test["PC3"][x_test.Pclass == 3 ] =  1
del x_test["Pclass"]

x_train[["QC1","QC2","QC3"]] = 0
x_train["QC1"][x_train.Embarked == "C" ] =  1
x_train["QC2"][x_train.Embarked == "Q" ] =  1
x_train["QC3"][x_train.Embarked == "S" ] =  1
del x_train["Embarked"]

x_test[["QC1","QC2","QC3"]] = 0
x_test["QC1"][x_test.Embarked == "C" ] =  1
x_test["QC2"][x_test.Embarked == "Q" ] =  1
x_test["QC3"][x_test.Embarked == "S" ] =  1
del x_test["Embarked"]

x_test

/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train.Sex[x_train.Sex == "male"] = 1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train.Sex[x_train.Sex == "female"] = 0
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test.Sex[x_test.Sex == "male"] = 1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test.Sex[x_test.Sex == "female"] = 0
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC1"][x_train.Pclass == 1 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC2"][x_train.Pclass == 2 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["PC3"][x_train.Pclass == 3 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC1"][x_test.Pclass == 1 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC2"][x_test.Pclass == 2 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["PC3"][x_test.Pclass == 3 ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC1"][x_train.Embarked == "C" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC2"][x_train.Embarked == "Q" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["QC3"][x_train.Embarked == "S" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC1"][x_test.Embarked == "C" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC2"][x_test.Embarked == "Q" ] =  1
/var/folders/p8/hs842n8x29x1xnhy3skzz61h0000gn/T/ipykernel_3566/39595751.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test["QC3"][x_test.Embarked == "S" ] =  1

    Sex    Age  SibSp  Parch      Fare  PC1  PC2  PC3  QC1  QC2  QC3
0     1  0.345      0      0  0.015282    0    0    1    0    1    0
1     0  0.470      1      0  0.013663    0    0    1    0    0    1
2     1  0.620      0      0  0.018909    0    1    0    0    1    0
3     1  0.270      0      0  0.016908    0    0    1    0    0    1
4     0  0.220      1      1  0.023984    0    0    1    0    0    1
..   ..    ...    ...    ...       ...  ...  ...  ...  ...  ...  ...
413   1    NaN      0      0  0.015713    0    0    1    0    0    1
414   0  0.390      0      0  0.212559    1    0    0    1    0    0
415   1  0.385      0      0  0.014151    0    0    1    0    0    1
416   1    NaN      0      0  0.015713    0    0    1    0    0    1
417   1    NaN      1      1  0.043640    0    0    1    1    0    0

[418 rows x 11 columns]